<app-header-background></app-header-background>
<div class="container">
  <md-card class="card all">
    <md-card-header>
      <md-card-title>Tarifs A</md-card-title>
      <md-card-subtitle>tarifs situation A</md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <div>
        <ngx-datatable
          [rows]="tarif1_rows"
          [columns]="tarif1_columns"
          [scrollbarV]="false"
          [scrollbarH]="true"
        >
        </ngx-datatable>
      </div>
    </md-card-content>
  </md-card>

  <md-card class="card all">
    <md-card-header>
      <md-card-title>Tarifs B</md-card-title>
      <md-card-subtitle>tarifs situation B</md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <div>
        <ngx-datatable
          [rows]="tarif2_rows"
          [columns]="tarif2_columns"
          [scrollbarV]="false"
          [scrollbarH]="true">
        </ngx-datatable>
      </div>
    </md-card-content>
  </md-card>

  <md-card class="card all">
    <md-card-header>
      <md-card-title>Bon cadeaux</md-card-title>
      <md-card-subtitle></md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <div>
        aeuiazeaz
      </div>
    </md-card-content>
  </md-card>

  <md-card class="card all">
    <md-card-header>
      <md-card-title>Pour les entreprises ou les évènements</md-card-title>
      <md-card-subtitle></md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <div>
        aeuiazeaz
      </div>
    </md-card-content>
  </md-card>
</div>
<app-footer-background></app-footer-background>
