<div class="header">
  <h1 class="header-title">toto</h1>
</div>

<md-card class="container">
  <div class="card all-75">
    <md-card-title>Tototot</md-card-title>
    <md-card-content>
      <p>
        Good presentation here. I am very good my friend Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
        architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
        aut fugit, sed quia consequuntur magni dolo
      </p>
    </md-card-content>
  </div>
</md-card>

<md-card class="container">
  <md-card class="card flex1 card-no-border">
    <md-card-header>
      <div md-card-avatar class="card-header-image"></div>
      <md-card-title>Shiba Inu</md-card-title>
      <md-card-subtitle>Dog Breed</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="assets/images/place.png">
    <md-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </md-card-content>
    <md-card-actions>
      <button md-button>En savoir plus</button>
    </md-card-actions>
  </md-card>
  <md-card class="card flex2 card-no-border">
    <md-card-header>
      <div md-card-avatar class="card-header-image"></div>
      <md-card-title>Shiba Inu</md-card-title>
      <md-card-subtitle>Dog Breed</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="assets/images/place.png">
    <md-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </md-card-content>
    <md-card-actions>
      <button md-button>En savoir plus</button>
    </md-card-actions>
  </md-card>

</md-card>

<md-card class="container">
  <div class="container margin-card">
    <md-card class="card card-no-border">
      <md-card-header>
        <div md-card-avatar class="card-header-image"></div>
        <md-card-title>Shiba Inu</md-card-title>
        <md-card-subtitle>Dog Breed</md-card-subtitle>
      </md-card-header>
      <img md-card-image src="assets/images/section1.jpg">
      <md-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-button>En savoir plus</button>
      </md-card-actions>
    </md-card>
    <md-card class="card card-no-border">
      <md-card-header>
        <div md-card-avatar class="card-header-image"></div>
        <md-card-title>Shiba Inu</md-card-title>
        <md-card-subtitle>Dog Breed</md-card-subtitle>
      </md-card-header>
      <img md-card-image src="assets/images/section2.jpg">
      <md-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-button>En savoir plus</button>
      </md-card-actions>
    </md-card>
  </div>
  <div class="container margin-card">
    <md-card class="card card-no-border">
      <md-card-header>
        <div md-card-avatar class="card-header-image"></div>
        <md-card-title>Shiba Inu</md-card-title>
        <md-card-subtitle>Dog Breed</md-card-subtitle>
      </md-card-header>
      <img md-card-image src="assets/images/section3.jpg">
      <md-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-button>En savoir plus</button>
      </md-card-actions>
    </md-card>
    <md-card class="card card-no-border">
      <md-card-header>
        <div md-card-avatar class="card-header-image"></div>
        <md-card-title>Shiba Inu</md-card-title>
        <md-card-subtitle>Dog Breed</md-card-subtitle>
      </md-card-header>
      <img md-card-image src="assets/images/section4.jpg">
      <md-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-button>En savoir plus</button>
      </md-card-actions>
    </md-card>
  </div>
</md-card>

<div class="footer">
  <div class="footer-title">
    <blockquote>“In posuere eleifend odio. Quisque semper augue mattis wisi.”
    </blockquote>
  </div>
</div>



