.card {
  flex: 1 100%;
}

.all {
  width: 100%;
}

.all-75 {
  width: 75%;
}

.margin {
  margin: 10px !important;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header {
  position: relative;
  width: 100%;
  height: 44em;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)), url('../../../assets/images/home-background.png');
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: whitesmoke;
}

.header-title {
  position: absolute;
  text-align: center;
  top: 7em;
  width: 100%;
}

.footer {
  position: relative;
  width: 100%;
  height: 20em;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url('../../../assets/images/home-background.png') center center;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: whitesmoke;
}

.footer-title {
  position: absolute;
  text-align: center;
  top: 7em;
  width: 100%;
}

blockquote {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: rgba(255, 255, 255, .05);
  font-size: x-large;
}

@media all and (min-width: 600px) {
  .card {
    flex: 1 auto;
  }
}

@media all and (min-width: 800px) {
  .card {
    flex: 2 0;
  }
}

