<app-header-background></app-header-background>

<md-card class="container card">
  <div class="card all-75">
    <h2>Tototot</h2>
    <img md-card-image src="assets/images/test2.jpg" class="column">
    <span>
        Good presentation here. I am very good my friend Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
        architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
        aut fugit, sed quia consequuntur magni dolo
      </span>
  </div>

</md-card>

<md-card class="container">
  <md-card class="card card-image margin">
    <img md-card-image src="assets/images/test2.jpg">
  </md-card>
  <md-card class="card  margin">
    <md-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </md-card-content>
    <md-card-actions>
      <button md-button>En savoir plus</button>
    </md-card-actions>
  </md-card>
</md-card>

<app-footer-background></app-footer-background>


