<app-header-background></app-header-background>

<md-card class="container card">
  <div class="card all-75">
    <h2>Tototot</h2>
    <img md-card-image src="assets/images/test.jpg">
    <p>
      Good presentation here. I am very good my friend Sed ut perspiciatis unde omnis iste natus error sit voluptatem
      accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
      architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
      aut fugit, sed quia consequuntur magni dolo
    </p>

  </div>

</md-card>

